{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Boards</li>
{% endblock %}

{% block content %}
<body >
        <!-- Table -->
        <table class="min-w-full bg-white border border-gray-300 shadow-md rounded-lg overflow-hidden">
            <thead class="bg-blue-500 text-white">
                <tr>
                    <th class="py-3 px-5 text-left">Board</th>
                    <th class="py-3 px-5 text-left">Posts</th>
                    <th class="py-3 px-5 text-left">Topics</th>
                    <th class="py-3 px-5 text-left">Last Post</th>
                </tr>
            </thead>
            <tbody>
                {% for board in boards %}
                <tr class="hover:bg-gray-100">
                    <td class="py-4 px-5 border-b border-gray-300">
                        <a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a>
                        <small class="text-gray-500">{{ board.description }}</small>
                    </td>
                    <td class="py-3 px-5 border-b border-gray-300">
                        {{ board.get_posts_count }}
                    </td>
                    <td class="py-3 px-5 border-b border-gray-300">
                        {{ board.topics.count }}
                    </td>
                    <td class="py-3 px-5 border-b border-gray-300">
                        {% with post=board.get_last_post %}
                        {% if post %}
                        <small>
                            <a href="{% url 'topic_posts' board.pk post.topic.pk %}">
                                By {{ post.created_by.username }} at {{ post.created_at }}
                            </a>
                        </small>
                        {% else %}
                        <small class="text-muted">
                            <em>No posts yet.</em>
                        </small>
                        {% endif %}
                        {% endwith %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}