{% extends 'base.html' %}

{% block title %}{{ topic.subject }}{% endblock %}
{% load gravatar %}
{% block breadcrumb %}
<li class="inline-block">
    <a href="{% url 'home' %}" class="text-blue-500 hover:text-blue-700">Boards</a>
</li>
<span class="mx-2 text-gray-500">/</span>
<li class="inline-block">
    <a href="{% url 'board_topics' topic.board.pk %}" class="text-blue-500 hover:text-blue-700">{{ topic.board.name}}</a>
</li>
<span class="mx-2 text-gray-500">/</span>
<li class="inline-block">
    <a href="{% url 'topic_posts' topic.board.pk topic.pk %}" class="text-blue-500 hover:text-blue-700">{{ topic.subject}}</a>
</li>
<span class="mx-2 text-gray-500">/</span>
<li class="inline-block">
    Post a reply
</li>
{% endblock %}

{% block content %}

<form method="post" class="mb-4">
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">Post a
        reply</button>
</form>

{% for post in topic.posts.all %}
<div class="bg-white shadow-md rounded-lg mb-4">
    <div class="p-4">
        <div class="flex justify-between mb-3">
            <div>
                <strong class="text-gray-700">{{ post.created_by.username }}</strong>
            </div>
            <div>
                <small class="text-gray-500">{{ post.created_at }}</small>
            </div>
        </div>
        <p class="text-gray-800">{{ post.message }}</p>
    </div>
</div>
{% endfor %}

{% endblock %}